extends ../index
block content
	div.row.rect
		div.col-md-3
			img.img-thumbnail(src="img/dp25.png",style="width:350px; margin-left:-14px;")
		div.col-md-9
			h3.text-warning.text-bold DP-25
			blockquote
				p.indent-20 DATECS  DP-25  წარმოადგენს  პროგრამირებად საკონტროლო  სალარო  აპარატს. მისი პარამეტრები ითვალისწინებს მომხმარებლის მომსახურების მოთხოვნებს და მაღაზიების, სუპერმარკეტების, აფთიაქების, რესტორნებისა და ნებისმიერი საცალო ოპერაციის ობიექტების ანგარიშწარმოებას. აპარატი უზრუნველყოფს სრულ აღრიცხვას.
				p.indent-20 სსა „DATECS DP-25“  მუშაობს SAM მოდულის აქტივაციით, რომელიც არის ISO/IEC 7810-ის სტანდარტის შესაბამისად შექმნილი. იგი აღნიშნული სტანდარტის მიხედვით მუშაობს გარე მოწყობილობასთან და გამოიყენება დაცულობის და უსაფრთხოების უზრუნველყოფისთვის.
				p.indent-20 ტექნიკური მომსახურების ღირებულება: 6 თვე - 30 ლარი; 12 თვე - 60 ლარი;
				p.indent-20 აპარატის ღირებულება: 6 თვის მომსახურებით: 420ლ; 12 თვის მომსახურებით 450ლ;
			div.pull-right
				a.btn.btn-primary.font-bpg-mtavruli(href="/files/instruqcia_dp_25.pdf",target="blank") ინსტრუქცია
				a.btn.btn-warning.font-bpg-mtavruli(href="/files/axali_ssa_gakidva_registracia.pdf",target="blank") ყიდვა
	div.row.rect
		div.col-md-3
			img.img-thumbnail(src="img/DP-50-Plus.png",style="width:350px; margin-left:-14px;")
		div.col-md-9
			h3.text-warning.text-bold DP-50-Plus
			blockquote
				p.indent-20 DATECS  DP-50  წარმოადგენს  პროგრამირებად საკონტროლო  სალარო  აპარატს. იგი შექმნილია მობილური ამოცანების მქონე მომხმარებლის მოთხოვნების დასაკმაყოფილებლად.
				p.indent-20 სსა „DATECS DP-50“  მუშაობს აგრეთვე SAM მოდულის აქტივაციით, რომელიც არის ISO/IEC 7810-ის სტანდარტის შესაბამისად შექმნილი. იგი აღნიშნული სტანდარტის მიხედვით მუშაობს გარე მოწყობილობასთან და გამოიყენება დაცულობის და უსაფრთხოების უზრუნველყოფისთვის. SAM მოდულში შესაბამისი პროგრამული უზრუნველყოფის ჩაწერას ახორციელებს შემოსავლების სამსახური.
			div.pull-right
				a.btn.btn-primary.font-bpg-mtavruli(href="javascript:alert('ექსპლუატაციაში მიღებული იქნება 2015 წლის 10 ნოემბრიდან.');") ინსტრუქცია
				a.btn.btn-warning.font-bpg-mtavruli(href="javascript:alert('ექსპლუატაციაში მიღებული იქნება 2015 წლის 10 ნოემბრიდან.');") ყიდვა