extends layout
block body
	div.container
		div.navbar.navbar-default.font-bpg-mtavruli-bold
			div.navbar-header
				a.navbar-brand(href='/')
					img(src="/img/logo.JPG",style="max-width:150px; margin-top:-12px; margin-left:-12px;")
			ul.nav.navbar-nav
				li
					a(href='/') მთავარი
				li
					a(href='/produktebi') პროდუქტები
				li
					a(href='/filialebi') ფილიალები
				li
					a(href='/chvensShesaxeb') ჩვენს შესახებ
				li
					a(href='/kontaqti') კონტაქტი
				li
					a(href='/kitxvaPasuxi') კითხვა-პასუხი
			span.pull-right.text-danger.text-bold(style="margin: 16px 8px 0px 0px;") ცხელი ხაზი: 032 242 45 45
		div
			block content
