doctype html
html(ng-app="kasaApp")
	head
		title kasa.ge
		meta(charset="utf-8")
		script(src='/resources/jquery/dist/jquery.min.js')
		script(src='/resources/angular/angular.min.js')
		script(src='/resources/angular-bootstrap/ui-bootstrap.min.js')
		script(src='/resources/angular-bootstrap/ui-bootstrap-tpls.min.js')
		script(src="https://maps.googleapis.com/maps/api/js")
		script.
			var app = angular.module('kasaApp',['ui.bootstrap']);
		link(rel='stylesheet', href='/resources/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body.font-dejavu
		div.wrapper
			block body
			div.footer-push
		div.container
			hr
			footer
				div.col-md-4
					h3 Kasa.ge
					hr
					table(style="width:100%;height:100%;")
						tr
							td
								a(href="/",style="color:white;") მთავარი
							td
								a(href="/chvensShesaxeb",style="color:white;") ჩვენს შესახებ
						tr
							td
								a(href="/produktebi",style="color:white;") პროდუქტები
							td
								a(href="/filialebi",style="color:white;") ფილიალები
						tr
							td
								a(href="/kontaqti",style="color:white;") კონტაქტი
							td
								a(href="/kitxvaPasuxi",style="color:white;") კითხვა პასუხი
				div.col-md-4
					h3.text-center Follow us
				div.col-md-4
					h3.text-right სიახლეების გამოწერა
					hr
					form.form-horizontal(style="width:100%;")
						input.form-control(type="email",placeholder="ე-ფოსტა")
						a.btn.btn-warning.btn-block.font-bpg-mtavruli(style="margin:8px 0px 0px 0px;") გამოწერა