doctype html
html
	head
		title kasa.ge
		meta(charset="utf-8")
		link(rel='stylesheet', href='/resources/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://maps.googleapis.com/maps/api/js")
	body.font-dejavu
		div.wrapper
			block body
			div.footer-push
		div.container
			footer
				h4 © kasa.ge 2015