extends ../index
block content
	script.
		function initialize() {
			var mapOptions = {
				center: new google.maps.LatLng(41.737362, 44.782135),
				zoom: 17,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById('map'), mapOptions);
			var marker = new google.maps.Marker({
				map : map,
				position : new google.maps.LatLng(41.737362, 44.782135)
			});
			var infowindow = new google.maps.InfoWindow({
				content : "<b>სათაო ოფისი</b><br/>აკ. წერეთლის გამზ. #77<br/> თბილისი"
			});
			google.maps.event.addListener(marker, "click", function () {
				infowindow.open(map, marker);
			});
			infowindow.open(map, marker);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	div
		h2(align="center") ჩვენ გთავაზობთ
		hr
		div.row
			div.col-md-6
				ul(style="font-size:22px")
					li ახალი თაობის GPRS სალარო აპარატებს
					li შექმნილი SAM მოდულის ტექნოლოგიით
					li სრული ქართული მენიუთი
			div.col-md-6
				img(src="img/datecs-logo.jpg",style="width:100%;")
		hr
		div.row
			div.col-md-6
				div.thumbnail
					img(src="img/dp25.png",style="width:300px;height:300px;")
					div.caption
						h3.text-center.text-bold DP-25
					div.btn-group.btn-group-justified.font-bpg-mtavruli
						a.btn.btn-primary.btn-lg(href='#') დეტალურად
						a.btn.btn-success.btn-lg(href='#') ყიდვა
			div.col-md-6
				div.thumbnail
					img(src="img/DP-50-Plus.png",style="width:300px;height:300px;")
					div.caption
						h3.text-center.text-bold DP-50 Plus
					div.btn-group.btn-group-justified.font-bpg-mtavruli
						a.btn.btn-primary.btn-lg(href='#') დეტალურად
						a.btn.btn-success.btn-lg(href='#') ყიდვა
		hr
		h3.font-bpg-mtavruli სერვისები
		hr
		div(style="font-size:110%;")
			div.row
				div.col-md-6
					div.servisi
						img.img-thumbnail(src="img/icons/registracia.png")
						a.servisi-link(href="#") სალარო აპარატის რეგისტრაცია / რეგ. მოხსნა
				div.col-md-6
					div.servisi
						img.img-thumbnail(src="img/icons/gamoskidva.png")
						a.servisi-link(href="#") სალარო აპარატის გამოსყიდვა
			div.row
				div.col-md-6
					div.servisi
						img.img-thumbnail(src="img/icons/gadaformeba.png")
						a.servisi-link(href="#") სალარო აპარატის გადაფორმება
				div.col-md-6
					div.servisi
						img.img-thumbnail(src="img/icons/dzebna.png")
						a.servisi-link(href="#") გადახდის თარიღის ძებნა
			div.row
				div.col-md-6
					div.servisi
						img.img-thumbnail(src="img/icons/fosta.png")
						a.servisi-link(href="#") სალარო აპარატის ფოსტით შეძენა
				div.col-md-6
					div.servisi
						img.img-thumbnail(src="img/icons/kitxva.png")
						a.servisi-link(href="#") დასვით კითხვა
		hr
		h3.font-bpg-mtavruli კონტაქტი
		hr
		div.row
			div.col-md-6
				div#map(style="width:100%;height:400px;")
			div.col-md-6
				h3.text-center სათაო ოფისი
				h4 შ.პ.ს "კასა ჯი"
				h4 აკ. წერეთლის გამზ. #77
				h4 თბილისი, საქართველო
				h4 ე-ფოსტა: info@kasa.ge
				h4 032 245 45 42
		hr