extends ../index
block content
	div.col-md-6
		blockquote
			p.indent-20 შპს “კასა ჯი” შეიქმნა 2014 წელს და მიზნად დაისახა კანონმდებლობაში შესული უახლესი ცვლილების შესაბამისი საკონტროლი სალარო  აპარატის შექმნა და რეალიზაცია. აპარატის შექმნის პროცესში გაუმჯობესებული იქნა ბაზარზე არსებული სხვა აპარატების ხარვეზები და გათვალისწინებულ იქნა მომხმარებელთა შენიშვნები და მოთხოვნები.
		blockquote
			p.indent-20 დღეისათვის  შპს “კასა ჯი” კომპანია “datecs” ის ოფიციალური წარმომადგენელია საქართველოში. ჩვენ გთავაზობთ დარგის ერთ-ერთი ლიდერის ახალი ტიპის საკონტროლო სალარო აპარატებს, სრული ქართული მენიუთი და მასთან დაკავშირებულ საგარანტიო - ტექნიკურ მომსახურებას. კომპანიის ძირითადი სათაო ოფისი მდებარეობს თბილისში, ხოლო ფილიალები საქართველოს თითქმის ყველა რაიონულ ცენტრშია განლაგებული(დამატებითი ინფორმაციის მისაღებად გადადით ფილიალების ჩამონათვალის გვერდზე) სადაც ისევე როგორც ცენტრალურ ოფისში შეგიძლიათ ისარვებლოთ ჩვენი მომსახურებების სრული სპექტრით. ჩვენ ყოველდღიურად ვემსახურებით ასობით კმაყოფილ მომხმარებელს. ჩვენი გუნდი გაგიწევთ როგორც აპარატის შეძენამდე კონსულტაციას ასევე დახმარებას მუშაობის პროცესში.
	div.col-md-6
		img.img-thumbnail(src="http://lorempixel.com/700/500/business/")