extends ../index
block content
	div.col-md-6
		div.panel.panel-primary
			div.panel-heading
				h4 .NET SDK
			div.panel-body
				a(href="/files/lib-4.0.zip",target="blank") .NET 4.0 Download
	div.col-md-6
		div.panel.panel-primary
			div.panel-heading
				h4 Demo Application
			div.panel-body
				a(href="/files/demoApp.zip",target="blank") Download